.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-remove-link {
  text-decoration: none;
  color: rgb(255, 0, 0);
  transform: rotate(45deg);
  font-weight: lighter;
  border-radius: 50%;
  border: 1px solid red;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8%;
  right: 8%;
}

.card-remove-link:hover {
  color: rgba(255, 0, 0, .7);
  border-color: rgba(255, 0, 0, .7);
}
